{% load bloggie_tags %}
{% load staticfiles %}
<! DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{%static 'css/bloggie.css' %}" rel='stylesheet'>
</head>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Mój bloggie</h2>
        <p> To jest mój bloggie. Dotychczas opublikowano tu {% total_posts %} postów.</p>
        <h3>Najnowsze posty</h3>
        {% show_latest_posts 3 %}
    </div>
<body>
</body>
</html>
